@model NewPSL.Models.PSL.Customer_Purchase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer_Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Employee_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Employee_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoyaltyPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoyaltyPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecieptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecieptNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecieptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecieptDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
